
@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4" style="font-weight:bold;">SportNotepad - Twój biegowy asystent !</h1>
        <br />
        <img src="/css/run_image.jpg" alt="runner" class="text-center"/>
    </div>
