
@{
    ViewData["Title"] = "Home Page";
}
<div class="form-row">
    <div class="text-justify">
        </br>
        </br>
        <h1 class="display-4" style="font-weight: bold; color: #2850BF">SportNotepad</h1>
        <p style="font-size: 22px; font-weight: bold;  color: #3469C5">Treningi, zawody, cele/plany i zdjęcia !</p>
        <p style="font-size: 22px; font-weight: bold; color: #3469C5 ">To wszystko w jednym miejscu.</p>
    </div>

    <div class="text-right">

        <img src="/css/sportnotepad_start.png" alt="runner" class="text-right" />
    </div>
</div>